{{/* Do not directly modify this file! */}}
{{/* Instead, create a `layouts/partials/custom_head.html` file in your site and add your code to it. */}}

{{/* This partial is included in `themes/tailwind/layouts/partials/head.html`. */}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>您的網站標題</title>
    <style>
        .centered-title {
            font-size: 48px; /* 字體大小 */
            color: #f5f5f5; /* 文字顏色 */
            text-align: center; /* 文字置中 */
            font-weight: bold; /* 粗體 */
            background-color: #1f2937; /* 底色 */
            padding: 10px 20px; /* 添加一些內邊距，使標題文字與背景之間有一些間距 */

        }
    </style>
</head>
<body>
    <h1 class="centered-title">_____在草原上開發的海莉_____(Dev version)</h1>
</body>
</html>
